@model LoginViewModel

<form class="form-horizontal" asp-controller="Account" asp-action="Register" method="post" role="form">
    <h2 class="alert alert-success text-center">Welcome our register page</h2>
    <h6 class="alert alert-info text-center">
        <b class="text-danger text-uppercase">Please pay attention!</b>
        When create password use at least 1 big,
        1 little,1 numeric and 1 alphanumeric symbols:
        <b class="text-success text-uppercase">Example:</b> 1234-Test
        &nbsp;<span class="glyphicon glyphicon-info-sign"></span>
    </h6>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group has-feedback">
        <label class="col-md-2 control-label" asp-for="UserName"></label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control">
            <span class="glyphicon glyphicon-user text-primary form-control-feedback"></span>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group has-feedback">
        <label class="col-md-2 control-label" asp-for="Password"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control">
            <span class="glyphicon glyphicon-lock text-danger form-control-feedback"></span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-registration-mark"></span>&nbsp;Register
            </button>
        </div>
    </div>


</form>
