
<h1 class="alert alert-info text-center">Our contact page</h1>
<p>If you have any questions please contact us</p>
<p>Our contact number (555)-555-55-55</p>

<email address="arzu.suleymanov.1990@@gmail.com" content="Contact us"></email>